# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Markdownlint CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Markdown Linting Action
        # You may pin to the exact commit or the version.
        # uses: avto-dev/markdown-lint@04d43ee9191307b50935a753da3b775ab695eceb
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          # Files (directories|globs) for a work or any additional arguments
          args: README.md
          # Configuration file (JSON, JSONC, or YAML)
          config: .markdownlint.json
